# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password
DB_NAME=my_app
DB_PORT=3306

# Initial Setup Credentials. These are the credentials for the initial setup of the application. You can delete them after the setup is complete.
SETUP_ACCOUNT_TITLE='Acme Corp' # optional, defaults to "Primary Account"
SETUP_USER_NAME='John Doe' # optional, defaults to "Owner"
SETUP_USER_EMAIL=your_email_address
SETUP_USER_PASSWORD=your_password